<div>
	<p><strong>API Token:</strong></p>
	<p><%= token.secret_key if token %></p>
</div>
<div>
	<p>
		<%= link_to t('helpers.submit.update', Token), token_path(token), remote: true, method: :put %> |
		<%= link_to t('helpers.destroy'), token, method: :delete, data: { confirm: 'Are you sure?' } %>
	<p>
</div>