<div>
	<p><strong>API Token:</strong></p>
	<p><%= t('helpers.not_token') %></p>
</div>
<div>
	<p><%= link_to t('helpers.submit.create', model: 'Token'), token_path(app), remote: true, method: :post %><p>
</div>