<h1><%= "#{t('helpers.edit')} #{App.model_name.human}" %></h1>

<%= render 'form', app: @app %>

<%= render 'tokens/form', token: @app.permanent_token || Token.new(app_id: @app.id, temporary: false) %>

<%= link_to t('helpers.back'), admin_apps_path %>
