<%# add navigation links to this file %>
<li><%= link_to App.model_name.human(count: 2), admin_apps_path %></li>
<li><%= link_to User.model_name.human(count: 2), admin_users_path %></li>
<li><%= link_to Token.model_name.human(count: 2), admin_tokens_path %></li>